<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  
  
  

  <connectionStrings>
    <add name="defaultConnectionString" connectionString="Data Source=calantha.arvixe.com;Initial Catalog=sp_NorthWind;Integrated Security=false;User ID=everyone;Password=everyone" />
  </connectionStrings>

  <appSettings>
    <add key="conString" value="Data Source=calantha.arvixe.com;Initial Catalog=sp_NorthWind;Integrated Security=false;User ID=everyone;Password=everyone"/>
  </appSettings>
  
</configuration>
